* {
  padding: 0 0;
  margin: 0 0;
  border: none;
  appearance: none;
  box-shadow: none;
  outline: none;
  resize: none;
  box-sizing: border-box;
}

stator {
  display: flex;
  justify-content: space-arround;
  width: 100vw;
  height: 100vh;
}

rotor {
  display: flex;
  justify-content: space-evenly;
  width: 99%;
  height: 99%;
}

iframe {
  width: 100%;
  height: 99%;
  background: white;
  color: black;
  border-radius: 2.5vmin;
  border: 0.1vmin solid orange;
}

html-code, css-code, js-code,
html-code:focus, css-code:focus, js-code:focus {
  font-size: 5vmin;
  cursor: 5vmin;
  background: transparent;
  overflow: hidden;
  border: 0.1vmin solid orange;
  border-radius: 2.5vmin;
}

@media (orientation: portrait) {
  stator {
    flex-direction: column;
  }
  rotor {
    flex-direction: column;
    
  }
  html-code, css-code, js-code,
  html-code:focus, css-code:focus, js-code:focus {
    width: 100%;
    height: calc(98% * .333);
  }
}

@media (orientation: landscape) {
  stator {
    flex-direction: row;
  }
  rotor {
    flex-direction: column;
  }
  html-code, css-code, js-code,
  html-code:focus, css-code:focus, js-code:focus {
    width: calc(99%);
    height: calc(98% * .333);
  }
}
