* {
    padding: .1vmin .1vmin;
    margin: .1vmin .1vmin;
}

row {
    display: flex;
    justify-content: space-around;
    width: calc(100vw - .5vmin);
    height: calc(100vh - .5vmin);
}

column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(100%);
    height: calc(100%);
}

iframe {
    border-radius: 2.5vmin;
    margin: .25vmin .25vmin;
    padding: .125vmin .125vmin;
    width: calc(100% - .5vmin);
    height: calc(100% - .5vmin);
    background: white;
    color: black;
}
