* {
  padding: 0 0;
  margin: 0 0;
  box-sizing: border-box;
}

stator {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
}

rotor {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 100vh;
}

iframe {
  border-radius: 2.5vmin;
  width: 100%;
  height: 100%;
  background: white;
  color: black;
}

html-code,
html-code:focus,
css-code,
css-code:focus,
js-code,
js-code:focus {
  font-size: 2.5vmin;
  cursor: 2.5vmin;
  background: transparent;
  overflow: hidden;
  appearance: none;
  box-shadow: none;
  outline: none;
  resize: none;
}

@media (orientation: portrait) {
  stator {
    flex-direction: column;
  }
  rotor {
    flex-direction: row;
  }
  html-code,
  html-code:focus,
  css-code,
  css-code:focus,
  js-code,
  js-code:focus {
    width: calc(100vw * .33);
    height: calc(100vh * .498);
  }
}

@media (orientation: landscape) {
  stator {
    flex-direction: row;
  }
  rotor {
    flex-direction: column;
  }
  html-code,
  html-code:focus,
  css-code,
  css-code:focus,
  js-code,
  js-code:focus {
    width: calc(100vw * .498);
    height: calc(100vh * .33);
  }
}
