.CodeMirror-hints {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  list-style: none;

  margin: 0 0;
  padding: 1vmin 1vmin;

  -webkit-box-shadow: 1vmin 1.5vmin 2vmin rgba(0, 255, 0, 0.2);
  -moz-box-shadow: 1vmin 1.5vmin 2vmin rgba(0, 255, 0, 0.2);
  box-shadow: 1vmin 1.5vmin 2vmin rgba(0, 255, 0, 0.2);
  border-radius: 2.5vmin;
  
  border: 0.2vmin dashed orange;

  background: white;
  font-size: 5vmin;
  font-family: monospace;

  max-height: 25vh;
  max-width: 75vw;
  overflow: auto;
}
::-webkit-scrollbar {
  display: none;
}
.CodeMirror-hint {
  margin: 0 0;
  padding: 0.6vmin 0.6vmin;
  border-radius: 2.5vmin;
  white-space: pre;
  color: black;
  cursor: pointer;
}
li.CodeMirror-hint-active {
  background: rgba(255, 127, 0, .5);
  color: white;
}
