@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");
/**
    Name: IntelliJ IDEA darcula-css theme
    From IntelliJ IDEA by JetBrains
 */

.cm-s-darcula-css {
  font-family: "Cutive Mono", monospace;
}

.cm-s-darcula-css.CodeMirror {
  background: #00000000;
  color: black;
}

.cm-s-darcula-css span.cm-meta {
  color: #bbb529;
}

.cm-s-darcula-css span.cm-number {
  color: #6897bb;
}

.cm-s-darcula-css span.cm-keyword {
  color: #cc7832;
  line-height: 1em;
  font-weight: bold;
}

.cm-s-darcula-css span.cm-def {
  color: #a9b7c6;
  font-style: italic;
}

.cm-s-darcula-css span.cm-variable {
  color: #a9b7c6;
}

.cm-s-darcula-css span.cm-variable-2 {
  color: #a9b7c6;
}

.cm-s-darcula-css span.cm-variable-3 {
  color: #9876aa;
}

.cm-s-darcula-css span.cm-type {
  color: #aabbcc;
  font-weight: bold;
}

.cm-s-darcula-css span.cm-property {
  color: #ffaa00;
}

.cm-s-darcula-css span.cm-operator {
  color: #a9b7c6;
}

.cm-s-darcula-css span.cm-string {
  color: #6a8759;
}

.cm-s-darcula-css span.cm-string-2 {
  color: #6a8759;
}

.cm-s-darcula-css span.cm-comment {
  color: #61a151;
  font-style: italic;
}

.cm-s-darcula-css span.cm-link {
  color: #cc7832;
}

.cm-s-darcula-css span.cm-atom {
  color: #cc7832;
}

.cm-s-darcula-css span.cm-error {
  color: #bc3f3c;
}

.cm-s-darcula-css span.cm-tag {
  color: #629755;
  font-weight: bold;
  font-style: italic;
}

.cm-s-darcula-css span.cm-attribute {
  color: #6897bb;
}

.cm-s-darcula-css span.cm-qualifier {
  color: #6a8759;
}

.cm-s-darcula-css span.cm-bracket {
  color: #a9b7c6;
}

.cm-s-darcula-css span.cm-builtin {
  color: #ff9e59;
}

.cm-s-darcula-css span.cm-special {
  color: #ff9e59;
}

.cm-s-darcula-css span.cm-matchhighlight {
  color: #ffffff;
  background-color: rgba(50, 89, 48, 0.7);
  font-weight: normal;
}

.cm-s-darcula-css span.cm-searching {
  color: #ffffff;
  background-color: rgba(61, 115, 59, 0.7);
  font-weight: normal;
}

.cm-s-darcula-css .CodeMirror-cursor {
  border-left: .5vmin solid #ff8800aa;
}

.cm-s-darcula-css .CodeMirror-activeline-background {
  background: #323232;
}

.cm-s-darcula-css .CodeMirror-gutters {
  background: hsla(200, 100%, 35%, 0.5);
  border-right: .5vmin solid hsla(200, 80%, 40%, 0.5);
}

.cm-s-darcula-css .CodeMirror-guttermarker {
  color: #ffee80;
}

.cm-s-darcula-css .CodeMirror-guttermarker-subtle {
  color: #d0d0d0;
}

.cm-s-darcula-css .CodeMirrir-linenumber {
  color: black;
}

.cm-s-darcula-css .CodeMirror-matchingbracket {
  background-color: #3b514d;
  color: #ffef28 !important;
  font-weight: bold;
}

.cm-s-darcula-css div.CodeMirror-selected {
  background: #ff880055;
  border-radius: 1.5vmin;
}

.CodeMirror-hints.darcula-css {
  font-family: "Cutive Mono", monospace;
  color: #0088ff !important;
  background-color: #ff880022 !important;
}

.CodeMirror-hints.darcula-css .CodeMirror-hint-active {
  background-color: #ff880044 !important;
  color: #ff8800dd !important;
}
